# Dossiers Unity (dans )
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Aa]ssets/Plugins/Editor/JetBrains*
[Aa]ssets/AssetStoreTools*
[Ll]ibrary/PackageCache/
[Ll]ibrary/ShaderCache/

# Fichiers Unity générés
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Gradle & IDE
.gradle/
.vs/
ExportedObj/
.consulo/

# Addressables
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

# Crashlytics
crashlytics-build.properties

tree.py
output.txt

.sonar/